@charset "UTF-8";

/*FONTE EPILOGUE :font-family: "Epilogue", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap')

/*FONTE BEBAS :font-family: "Bebas Neue", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')


/* FONTE MONTSERRAT :font-family: "Montserrat", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap')

/* FONTE INTER :font-family: "Inter", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')

*{
   margin: 0;
   padding: 0; 
}

:root{
    --font-epilogue: "Epilogue", sans-serif;
    --font-teko: "Teko", sans-serif;
    --font-mont: "Montserrat", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: #1F1517;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding-top: 68px;
    box-sizing: border-box;

}

/*********
**********HEADER**********
**********/

header{
    background-color: #1F1517;
    height: 68px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.logo a{
    color: white;
    font-size: 32px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: auto;
}

.navigation .nav-list{
    display: flex;
    max-width: 838px;
    gap: 24px;
    align-items: center;

}

.navigation .nav-list .nav-itens{
    color: white;
    font-size: 16px;
    font-weight: normal;
    transition: all 0.3s ease;
}

.navigation .nav-list .nav-itens:hover{
    color: #ffe8d6;
}

#git-header{
    color: white;
    font-weight: normal;
    font-weight: 600;
}

/*********
**********HERO**********
**********/

main .hero{
    background-color: #181012;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-height: 386px;
    gap: 6em;
    padding: 0px 13%;
    margin: auto;

}

.header-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 480px;

    margin: 0;
    
}

.header-hero span{
    color: #A45A49;
    font-family: var(--font-epilogue);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.header-hero h1{
    font-size: 58px;
    font-weight: bolder;
    font-family: var(--font-mont);
    line-height: 4rem;
    margin-top: 10px;
}

.header-hero hr{
    border: none;
    border-bottom: 2px solid #A45A49;
    width: 235px;
    margin: 0;
    margin-top: -2rem;
}

.header-hero h2{
    font-size: 20px;
    font-weight: normal;
    max-width: 100%;
}

.hero .img-hero{
    column-count: 4;
    overflow: clip;
    max-width: 45%;
}

.img-hero figure{
    margin: 10px 0px;
}

.img-hero figure img{
    width: 100%;
    border-radius: 0.5rem;
}

/*********
**********BUTTON**********
**********/

.btn-default{
    position: absolute;
    top: 422px;
    left: 13%; 
}

.btn-default:hover{
    opacity: 0.95;
}

/*********
**********RECEITAS**********
**********/

.header-receitas{
    padding: 64px 13%;
    max-width: 1120px;
    max-height: 87px;
}

.header-receitas span{
    color: #A45A49;
    font-family: var(--font-epilogue);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.header-receitas h1{
    font-size: 32px;
    font-weight: bolder;
    font-family: var(--font-mont);
    line-height: 4rem;
    margin-top: 0px;
}


.header-receitas h2{
    font-size: 20px;
    font-weight: lighter;
    max-width: 100%;
    margin-top: -2rem;
}

.container-receitas{
    background-color: #241A1C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    padding: 20px 0;
    width: 556px;
    
}

.container-receitas .receita h6{
    color: #E7A80E;
    font-size: 12px;
    margin: 0;
}

.container-receitas .receita .nome-receita{
    font-family: var(--font-mont);
    font-size: 20px;
    font-weight: bold;
    margin-right: 200px;
}

.container-receitas .receita .av-receita{
    color: #756A67;
    font-size: 16px;
    font-weight: normal;
}

.container-receitas .receita p{
    letter-spacing: 0.8px;
    font-size: 16px;
}

.receita-autor{
    display: flex;
    align-items: center;
    margin-left: -70%;
}

.receita-autor img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    align-items: center;
}

.receita-autor .receita-autor-nome{
    color: #756A67;
    font-size: 12px;
    font-weight: 500;
    margin: 0 6px;
}
